COMPOSE_PROJECT_NAME=lecolaz-local

POSTGRES_DB=lecolaz
POSTGRES_USER=lecolaz
POSTGRES_PASSWORD=lecolaz
POSTGRES_PORT=5432

MINIO_ROOT_USER=lecolaz
MINIO_ROOT_PASSWORD=lecolaz123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

BACKEND_PORT=8000